{
	"parser": "babel-eslint", // 최신 문법도 에러를 발생하지않음
	"parserOptions": {
		"ecmaVersion": 2020, // 버젼
		"sourceType": "module", // 모듈 시스템
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"env": { // 환경
		"browser": true,
		"node": true,
		"es6": true
	},
	"extends": [
		"airbnb"
//		"eslint:recommended", // 규칙을 따른다
//		"plugin:react/recommended"
	],
	"plugins": [
		"import",
		"react-hooks",
		"jsx-a11y"
	],
	"rules": {
		"prettier/prettier": 0, //prettier 에 대한 경고 끄기
		"for-direction": 2, // for 루프가 무한대로 실행되는 것을 방지
		"linebreak-style": 0,
		"no-underscore-dangle": "off",
		"react/forbid-prop-types": 0,
		"object-curly-newline": 0,
		"jsx-a11y/label-has-associated-control": "off",
		"jsx-a11y/anchor-is-valid": "off",
		"no-console": "off",
		"react/jsx-filename-extension": "off",
		"no-param-reassign": "off"
	}
}